<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" dir="ltr">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>PureSync Admin</title>
   <th:block th:include="~{/fragments/styles :: styleFragment}"></th:block>
</head>

<body class="layout-light side-menu">
   <div class="mobile-author-actions"></div>
   <div th:replace="~{/fragments/header :: headerFragment}"></div>
   <main class="main-content">
      <div th:replace="~{/fragments/sidebar :: sidebarFragment}"></div>

      <div class="contents">

         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">

                  <div class="breadcrumb-main">
                     <h4 class="text-capitalize breadcrumb-title">회원 관리</h4>
                     <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#"><i class="uil uil-estate"></i>회원 관리</a></li>
                           </ol>
                        </nav>
                     </div>
                  </div>

               </div>
            </div>
            <div class="row">
               <div class="col-12 mb-30">
                  <div class="support-ticket-system support-ticket-system--search">

                     <div class="breadcrumb-main m-0 breadcrumb-main--table justify-content-sm-between ">
                        <div class=" d-flex flex-wrap justify-content-center breadcrumb-main__wrapper">
                        </div>
                     </div>
                     <form method="get">
                        <div class="support-form datatable-support-form d-flex flex-column justify-content-xxl-between justify-content-start align-items-left flex-wrap mb-3">
                           <div class="support-form__input m-0">
                              <div class="d-flex flex-wrap">
                                 <div class="support-form__input-id me-md-3">
                                    <div class="dm-select ">
                                       <select name="category" id="category" class="form-control ">
                                          <option value="">검색조건</option>
                                          <option value="id">아이디</option>
                                          <option value="email">이메일</option>
                                       </select>
                                    </div>

                                 </div>
                                 <div class="support-form__search m-0">
                                    <div class="support-order-search d-flex">
                                       <div class="support-order-search__form">
                                          <img src="img/svg/search.svg" alt="search" class="svg">
                                          <input class="form-control border-0 box-shadow-none" type="search" placeholder="검색어를 입력하세요." aria-label="Search">
                                       </div>
                                    </div>
                                 </div>
                                 <button class="support-form__input-button">검색</button>
                              </div>
                           </div>
                           <div class="d-flex mt-2">
                              <div>
                                 <div class="checkbox-theme-default custom-checkbox  check-all me-3">
                                    <input class="checkbox" type="checkbox" id="check-3">
                                    <label for="check-3">
                                       <span class="checkbox-text">전체</span>
                                    </label>
                                 </div>
                              </div>
                              <div class="checkbox-group-wrapper">
                                 <div class="checkbox-group d-flex">
                                    <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                                       <input class="checkbox" type="checkbox" id="check-grp-1">
                                       <label for="check-grp-1">
                                          <span class="checkbox-text">정상</span>
                                       </label>
                                    </div>
                                    <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                                       <input class="checkbox" type="checkbox" id="check-grp-2">
                                       <label for="check-grp-2">
                                          <span class="checkbox-text">휴면</span>
                                       </label>
                                    </div>
                                    <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                                       <input class="checkbox" type="checkbox" id="check-grp-3">
                                       <label for="check-grp-3">
                                          <span class="checkbox-text">정지</span>
                                       </label>
                                    </div>
                                    <div class="checkbox-theme-default custom-checkbox checkbox-group__single">
                                       <input class="checkbox" type="checkbox" id="check-grp-4">
                                       <label for="check-grp-4">
                                          <span class="checkbox-text">탈퇴</span>
                                       </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                     <div class="userDatatable userDatatable--ticket userDatatable--ticket--2 mt-1">
                        <div class="table-responsive">
                           <table class="table mb-0 table-borderless">
                              <thead>
                                 <tr class="userDatatable-header">
                                    <th>
                                       <span class="userDatatable-title">No</span>
                                    </th>
                                    <th>
                                       <span class="userDatatable-title">아이디</span>
                                    </th>
                                    <th>
                                       <span class="userDatatable-title">회원 유형</span>
                                    </th>
                                    <th>
                                       <span class="userDatatable-title">이메일</span>
                                    </th>
                                    <th>
                                       <span class="userDatatable-title">가입일시</span>
                                    </th>
                                    <th>
                                       <span class="userDatatable-title">상태</span>
                                    </th>
                                 </tr>
                              </thead>
                              <tbody>

                                 <tr>
                                    <td>#01</td>
                                    <td>
                                       <div class="d-flex">
                                          <div class="userDatatable-inline-title">
                                             <a href="#" class="text-dark">
                                                <h6>Kellie Marquot</h6>
                                             </a>
                                          </div>
                                       </div>
                                    </td>
                                    <td>
                                       <div class="userDatatable-content--subject">
                                          Business Development
                                       </div>
                                    </td>
                                    <td>
                                       <div class="userDatatable-content--priority">
                                          Web Developer
                                       </div>
                                    </td>
                                    <td>
                                       <div class="userDatatable-content--priority">
                                          January 20, 2020
                                       </div>
                                    </td>
                                    <td>
                                       <div class="userDatatable-content d-inline-block">
                                          <span class="bg-opacity-success  color-success userDatatable-content-status active">active</span>
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                        <div class="d-flex justify-content-end pt-30">

                           <nav class="dm-page ">
                              <ul class="dm-pagination d-flex">
                                 <li class="dm-pagination__item">
                                    <a href="#" class="dm-pagination__link pagination-control"><span class="la la-angle-left"></span></a>
                                    <a href="#" class="dm-pagination__link"><span class="page-number">1</span></a>
                                    <a href="#" class="dm-pagination__link active"><span class="page-number">2</span></a>
                                    <a href="#" class="dm-pagination__link"><span class="page-number">3</span></a>
                                    <a href="#" class="dm-pagination__link pagination-control"><span class="page-number">...</span></a>
                                    <a href="#" class="dm-pagination__link"><span class="page-number">12</span></a>
                                    <a href="#" class="dm-pagination__link pagination-control"><span class="la la-angle-right"></span></a>
                                    <a href="#" class="dm-pagination__option">
                                    </a>
                                 </li>
                                 <li class="dm-pagination__item">
                                    <div class="paging-option">
                                       <select name="page-number" class="page-selection">
                                          <option value="20">20/page</option>
                                          <option value="40">40/page</option>
                                          <option value="60">60/page</option>
                                       </select>
                                    </div>
                                 </li>
                              </ul>
                           </nav>


                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
      <div th:replace="~{/fragments/footer :: footerFragment}"></div>
   </main>
   <div id="overlayer">
      <div class="loader-overlay">
         <div class="dm-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
         </div>
      </div>
   </div>
   <div class="overlay-dark-sidebar"></div>
   <div class="customizer-overlay"></div>
   <th:block th:include="~{/fragments/scripts :: scriptFragment}"></th:block>
</body>

</html>