/* selectBox 스타일링 */
.selectBox {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
  }
  
  /* input 스타일링 */
  .input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
  }
  
/* 버튼 스타일 */
    .button {
    background-color: #6610f2; /* 배경 색상을 원하는 색상 코드로 변경하세요 */
    color: white;
    border: none;
    border-radius: 999px; /* 혹은 다른 값을 적용하여 원하는 모양으로 변경하세요 */
    height: 2.75rem; /* h-11 클래스 대신 원하는 높이로 변경하세요 */
    padding: 0.5rem 1.5rem; /* px-8 py-2 대신 원하는 패딩 값을 적용하세요 */
    font-size: 1rem; /* 원하는 글꼴 크기로 변경하세요 */
    cursor: pointer;
    transition: background-color 0.3s ease; /* hover 효과를 위한 전환 효과 */
  
    /* hover 시 배경 색상 변경 */
    &:hover {
      background-color: #5609cc; /* hover 시 원하는 배경 색상으로 변경하세요 */
    }
  
    /* 클릭 시 배경 색상 변경 */
    &:active {
      background-color: #720df6; /* 클릭 시 원하는 배경 색상으로 변경하세요 */
    }
  }
  
  
  /* checkbox 스타일링 */
  input[type="checkbox"] {
    margin-right: 8px;
    vertical-align: middle;
  }
  